# Python / Backend
backend/venv/
backend/__pycache__/
*.pyc
.env

# Node / Blockchain
blockchain/node_modules/
blockchain/artifacts/
blockchain/cache/
blockchain/coverage/
blockchain/typechain-types/

# OS / Editor
.DS_Store
.vscode/
.idea/

# Java / Spring Boot backend
java-backend/target/
java-backend/.idea/
java-backend/*.iml
